<configuration>
	<system.webServer>
		<handlers>
			<add name="StaticContent" verb="*" path="*"/>
		</handlers>
		<staticContent>
			<mimeMap fileExtension=".html" mimeType="text/html"/>
			<mimeMap fileExtension=".css" mimeType="text/css"/>
			<mimeMap fileExtension=".js" mimeType="application/javascript"/>
			<mimeMap fileExtension=".png" mimeType="image/png"/>
			<mimeMap fileExtension=".jpg" mimeType="image/jpeg"/>
			<mimeMap fileExtension=".gif" mimeType="image/gif"/>
		</staticContent>
	</system.webServer>
</configuration>
